.container {
    padding: 14px 18px;
    border-radius: 8px;
    border: 1px #D5D9D9 solid;
    display: flex;
    font-family: "Amazon Ember", Arial, sans-serif;
    width: auto;
    height: fit-content;
    flex-direction: column;
    position: relative;
}

.addTo {
    display: flex;
    justify-content: center;
    padding: 4px;
    font-size: 14px;
    line-height: 20px;
}

#btnAddCart {
    border-radius: 20px;
    background: #FFD814;
    border-color: #FCD200;
    text-align: center;
    vertical-align: middle;
    border-style: solid;
    border-width: 1px;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    line-height: 19px;
    margin-bottom: 10px;
    margin-top: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
}
#btnAddCart:hover {background-color: #f4cb00}

.emptyDiv {
    border-left-width: 0;
    border-right-width: 0;
    border-bottom: 1px solid #e7e7e7;
}

.btnListAdd {
    border-radius: 3px;
    background: #f4f5f7;
    border-color: #adb1b8 #a2a6ac #8d9096;
    border: .5px solid;
    height: 100%;
    width: 100%;
    text-align: left!important;
    font-size: 13px;
    padding: 0 10px 0 11px;
    line-height: 25px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
}

.btnListAdd:hover {background-color: #c7c9ccd9;}

#pinPoint {
    min-width: 16px;
    height: 14px;
    float: left;
    background-image: url(https://m.media-amazon.com/images/S/sash/kIT-Lj9i1Bch8yi.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    margin-right: 5px;
    margin-top: 2px;
}

.time {
    font-size: 14px;
    color: #007600;
    font-family: "Amazon Ember", Arial, sans-serif;
}
.stock {
    font-size: 18px;
    color: #007600;
    font-family: "Amazon Ember", Arial, sans-serif;
}
.delivery, .returnpolicy {
    font-size: 14px;
}



#dollars {
    font-size: 28px;
    color: #0F1111;
    font-family: "Amazon Ember", Arial, sans-serif;
    line-height: normal;
}

#symbol, #fraction {
    font-size: 13px;
    vertical-align: top;
    color: #0F1111;
    font-family: "Amazon Ember", Arial, sans-serif;
}

.boxshadow{
    border-radius: 7px;
    background: #f0f2f2;
    height: 20px!important;
    box-shadow: 0 2px 5px rgb(15 17 17/ 15%);
}

#location {
    font-size: 12px;
}



#secure {
    font-size: 14px;
    padding-left: 15px;
}

.quantity {
    border: solid black 1px;
    padding: 1px;
    border-radius: 8px;
    background: #f0f2f2;
    border-color: #d5d9d9;
    height: 22px;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    position: relative;
    font-family: "Amazon Ember", Arial, sans-serif;
}

.selectQuantity {
    border: 0px;
    background: #f0f2f2;
    border-color: #d5d9d9;
    cursor: pointer;
}

#btnCart {
    border-radius: 20px;
    background: #FFD814;
    border-color: #FCD200;
    text-align: center;
    vertical-align: middle;
    border-style: solid;
    border-width: 1px;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    line-height: 19px;
    margin-bottom: 4px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
}

#btnCart:hover {background-color: #f4cb00}

#btnBuyNow {
    border-radius: 20px;
    background: #FFA41C;
    border-color: #FF8F00;
    text-align: center;
    vertical-align: middle;
    border-style: solid;
    border-width: 1px;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    line-height: 19px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
}
#btnBuyNow:hover {background-color: #FF8F00}


.btnAdd {
    border-radius: 3px;
    background: #f4f5f7;
    border-color: #adb1b8 #a2a6ac #8d9096;
    border: .5px solid;
    height: 100%;
    width: 100%;
    text-align: left!important;
    font-size: 13px;
    padding: 0 10px 0 11px;
    line-height: 25px;
    margin-top: 15px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
}
.btnAdd:hover {background-color: #c7c9ccd9;}

.shipsold {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
}

.shipsby, .soldby {
    font-size: 12px;
    font-family: "Amazon Ember", Arial, sans-serif;
    color: #565959!important;
    line-height: 16px!important;
    padding-right: 10px;
}

.amazon {
    font-size: 12px;
    font-family: "Amazon Ember", Arial, sans-serif;
    line-height: 16px!important;
}

.primerow {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 4px;
}

.text {
    font-size: 14px!important;
    line-height: 20px!important;  
    padding-left: 10px;
}

.logo {
    padding-top: 75%;
    width: 50px!important;
    vertical-align: top;
    padding-right: 3px;
}

#primetext {
    font-size: 14px;
    padding-bottom: 15px;
    margin-bottom: 1px;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom: 1px solid #e7e7e7;
}

#icon {
    background-image: url(https://m.media-amazon.com/images/S/sash/f9Cwl2OUDVHGXk8.png);
    margin: 5px 0 0 0.385em;
    vertical-align: text-top;
    width: 7px;
    height: 5px;
    background-position: -90px -5px;
    opacity: .6;
    background-size: 400px 900px;
    background-repeat: no-repeat;
    display: inline-block;
}

/* .arrowBox {
    width: 200px;
    height: 150px;
    background-color: #FFFFFF;
    border-radius: 5px;
    position: fixed;
    top: 3em;
    left: 230px;
    padding: 10px;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #313333;
    text-align: left;
}
.arrowBox:after {
    content: ' ';
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #FFFFFF;
    border-right: 10px solid transparent;
    position: absolute;
    left: 50%;
    bottom: 100%;
    margin-top: -10px;
} */