.container {
    width: min(15rem, 15rem);
    padding: 14px 18px;
    margin-right: 5rem;
    border-radius: 8px;
    border: 1px #D5D9D9 solid;
    display: flex;
    font-family: "Amazon Ember", Arial, sans-serif;
    height: fit-content;
    flex-direction: column;
    position: relative;
}

.a {
    text-decoration: none;
    color: #007185;
}

.smallContainer {
    display: block;
    border-radius: 8px;
    background-color: #fff;
    border-radius: 8px;
    position: relative;
    padding: 14px 18px;
    border: 1px #D5D9D9 solid;
    box-sizing: border-box;
    min-width: 235px;
    height: 150px;
}

.addTo {
    display: flex;
    justify-content: center;
    padding: 4px;
    font-size: 14px;
    line-height: 20px;
}

#btnAddCart {
    border-radius: 20px;
    background: #FFD814;
    border-color: #FCD200;
    text-align: center;
    vertical-align: middle;
    border-style: solid;
    border-width: 1px;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    line-height: 19px;
    margin-bottom: 10px;
    margin-top: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
}
#btnAddCart:hover {background-color: #f4cb00}

.emptyDiv {
    border-left-width: 0;
    border-right-width: 0;
    border-bottom: 1px solid #e7e7e7;
}

.btnListAdd {
    border-radius: 3px;
    background: #f4f5f7;
    border-color: #adb1b8 #a2a6ac #8d9096;
    border: .5px solid;
    height: 100%;
    width: 100%;
    text-align: left!important;
    font-size: 13px;
    padding: 0 10px 0 11px;
    line-height: 25px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
}

.btnListAdd:hover {background-color: #c7c9ccd9;}

#pinPoint {
    min-width: 16px;
    height: 14px;
    float: left;
    background-image: url(https://m.media-amazon.com/images/S/sash/kIT-Lj9i1Bch8yi.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    margin-right: 5px;
    margin-top: 2px;
}

.time {
    font-size: 14px;
    color: #007600;
    font-family: "Amazon Ember", Arial, sans-serif;
}
.stock {
    font-size: 18px;
    color: #007600;
    font-family: "Amazon Ember", Arial, sans-serif;
}
.delivery, .returnpolicy {
    font-size: 14px;
}

.pricing {
    line-height: 22px;
}

#dollars {
    font-size: 28px;
    color: #0F1111;
    font-family: "Amazon Ember", Arial, sans-serif;
    line-height: normal;
}

#symbol, #fraction {
    font-size: 13px;
    vertical-align: top;
    
    color: #0F1111;
    font-family: "Amazon Ember", Arial, sans-serif;
}

.boxshadow{
    border-radius: 7px;
    background: #f0f2f2;
    height: 20px!important;
    box-shadow: 0 2px 5px rgb(15 17 17/ 15%);
}

#location {
    font-size: 12px;
}



#secure {
    font-size: 14px;
    padding-left: 15px;
}

.quantity {
    border: solid black 1px;
    padding: 1px;
    border-radius: 8px;
    background: #f0f2f2;
    border-color: #d5d9d9;
    height: 22px;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    position: relative;
    font-family: "Amazon Ember", Arial, sans-serif;
}

.selectQuantity {
    border: 0px;
    background: #f0f2f2;
    border-color: #d5d9d9;
    cursor: pointer;
}

#btnCart {
    border-radius: 20px;
    background: #FFD814;
    border-color: #FCD200;
    text-align: center;
    vertical-align: middle;
    border-style: solid;
    border-width: 1px;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    line-height: 19px;
    margin-bottom: 4px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
}

#btnCart:hover {background-color: #f4cb00}

#btnBuyNow {
    border-radius: 20px;
    background: #FFA41C;
    border-color: #FF8F00;
    text-align: center;
    vertical-align: middle;
    border-style: solid;
    border-width: 1px;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    line-height: 19px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
}
#btnBuyNow:hover {background-color: #FF8F00}


.btnAdd {
    border-radius: 3px;
    background: #f4f5f7;
    border-color: #adb1b8 #a2a6ac #8d9096;
    border: .5px solid;
    height: 100%;
    width: 100%;
    text-align: left!important;
    font-size: 13px;
    padding: 0 10px 0 11px;
    line-height: 25px;
    margin-top: 15px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
}
.btnAdd:hover {background-color: #c7c9ccd9;}

.shipsold {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
}

.shipsby, .soldby {
    font-size: 12px;
    font-family: "Amazon Ember", Arial, sans-serif;
    color: #565959!important;
    line-height: 16px!important;
    padding-right: 10px;
}

.amazon {
    font-size: 12px;
    font-family: "Amazon Ember", Arial, sans-serif;
    line-height: 16px!important;
}

.primerow {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 4px;
}

.text {
    font-size: 14px!important;
    line-height: 20px!important;  
    padding-left: 10px;
}

.logo {
    padding-top: 75%;
    width: 50px!important;
    vertical-align: top;
    padding-right: 3px;
}

#primetext {
    font-size: 14px;
 
}

#icon {
    background-image: url(https://m.media-amazon.com/images/S/sash/f9Cwl2OUDVHGXk8.png);
    margin: 5px 0 0 0.385em;
    vertical-align: text-top;
    width: 7px;
    height: 5px;
    background-position: -90px -5px;
    opacity: .6;
    background-size: 400px 900px;
    background-repeat: no-repeat;
    display: inline-block;
}

.grabAgain {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: absolute;
    z-index: 1;
    padding: 10px;
    top: 5%;
    left: -78%;
}

.selectItemDiv {
    z-index: 4;
    background-color: white;
    width: 175px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 10px;
    border: 1px #D5D9D9 solid;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.selectItemDiv:after {
    content: "";
    margin-top: 34px;
    margin-left: 77px;
    width: -7px;
    height: 0px;
    border: 10px solid transparent;
    border-left: 10px solid #D5D9D9;
    position: absolute;
    top: 5.6%;
    left: 55%;
    z-index: 4;
  }
  .selectItemDiv:before {
    content: "";
    margin-top: -1px;
    margin-right: 0px;
    width: 0px;
    height: 1px;
    border: 9px solid transparent;
    border-left: 9px solid white;
    position: absolute;
    top: 38.8%;
    left: 94%;
    z-index: 5;
  }

.popoverTrigger{
    position: relative;
}

.returnDiv {
    display: flex;
    flex-direction: row;
}

.grab {
    width: 300px;
    height: fit-content;
    position: absolute;
    z-index: 1;
    padding: 10px;
    top: 14%;
    left: -33%;
}

.freeReturnsDiv {
    z-index: 4;
    background-color: white;
    width: 232px;
    height: fit-content;
    padding: 10px;
    border: 1px #D5D9D9 solid;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.freeReturnsDiv:after {
    content: "";
    margin-top: -10px;
    margin-left: -10px;
    width: 0px;
    height: 0px;
    border: 10px solid transparent;
    border-bottom: 10px solid #D5D9D9;               
    position: absolute;
    top: 0.6%;
    left: 50%;
    z-index: 4;
  }
  .freeReturnsDiv:before {
    content: "";
    margin-top: -9px;
    margin-left: -9px;
    width: 0px;
    height: 0px;
    border: 9px solid transparent;
    border-bottom: 9px solid white;                
    position: absolute;
    top: 0.8%;
    left: 50%;
    z-index: 5;
  }
  .returnList {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }

.arrowBox {
    padding-right: 2px;
}

.grabSecure {
    max-width: 440px;
    height: fit-content;
    position: absolute;
    z-index: 1;
    padding: 10px;
    top: 56%;
    left: -54%;
    font-size: 14px;
    font-family: "Amazon Ember", Arial, sans-serif;
}

.secureDiv {
    z-index: 4;
    background-color: white;
    width: 394px;
    height: fit-content;
    padding: 27px;
    border: 1px #D5D9D9 solid;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.secureDiv:after {
    content: "";
    margin-top: -10px;
    margin-left: -10px;
    width: 0px;
    height: 0px;
    border: 10px solid transparent;
    border-bottom: 10px solid #D5D9D9;               
    position: absolute;
    top: 0.6%;
    left: 50%;
    z-index: 4;
  }
  .secureDiv:before {
    content: "";
    margin-top: -9px;
    margin-left: -9px;
    width: 0px;
    height: 0px;
    border: 9px solid transparent;
    border-bottom: 9px solid white;                
    position: absolute;
    top: 1.8%;
    left: 50%;
    z-index: 5;
  }


  .grabReturn {
    max-width: 440px;
    height: fit-content;
    position: absolute;
    z-index: 1;
    padding: 10px;
    top: 70%;
    left: -61%;
    font-size: 14px;
    font-family: "Amazon Ember", Arial, sans-serif;
}

.selectReturnDiv {
    z-index: 4;
    background-color: white;
    width: 380px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    border: 1px #D5D9D9 solid;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.selectReturnDiv:after {
    content: "";
    margin-top: -10px;
    margin-left: -10px;
    width: 0px;
    height: 0px;
    border: 10px solid transparent;
    border-bottom: 10px solid #D5D9D9;               
    position: absolute;
    top: 0.6%;
    left: 66%;
    z-index: 4;
  }
  .selectReturnDiv:before {
    content: "";
    margin-top: -9px;
    margin-left: -9px;
    width: 0px;
    height: 0px;
    border: 9px solid transparent;
    border-bottom: 9px solid white;                
    position: absolute;
    top: 1.8%;
    left: 66%;
    z-index: 5;
  }

  .primeTextDiv {
       padding-bottom: 15px;
    margin-bottom: 1px;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom: 1px solid #e7e7e7;
  }

  .grabPrime {
    max-width: 440px;
    height: fit-content;
    position: absolute;
    z-index: 1;
    padding: 10px;
    top: 52%;
    right: 94%;
    font-size: 14px;
    font-family: "Amazon Ember", Arial, sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 20px;
}

.selectPrimeDiv {
    z-index: 4;
    background-color: white;
    width: 380px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    border: 1px #D5D9D9 solid;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.selectPrimeDiv:after {
    content: "";
    margin-top: 34px;
    margin-left: 77px;
    width: -7px;
    height: 0px;
    border: 10px solid transparent;
    border-left: 10px solid #D5D9D9;
    position: absolute;
    top: 46.6%;
    left: 78%;
    z-index: 4;
  }
  .selectPrimeDiv:before {
    content: "";
    margin-top: -1px;
    margin-right: 0px;
    width: 0px;
    height: 1px;
    border: 9px solid transparent;
    border-left: 9px solid white;
    position: absolute;
    top: 53.4%;
    right: -1.7%;
    z-index: 5;
  }
  .h1 {
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    padding-bottom: 4px;
    text-rendering: optimizeLegibility;
  }

.grabPrimeHeader {
    position: relative;
    text-align: left;
    background: #f2f2f2;
    background: #f1f1f1;
    background: -webkit-linear-gradient(top,#f7f7f7,#eaeaea);
    background: linear-gradient(to bottom,#f7f7f7,#eaeaea);
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #cdcdcd;
    border-bottom-color: rgba(0,0,0,.2);
    box-shadow: 0 1px 0 rgb(255 255 255 / 50%) inset, 0 -1px 0 rgb(255 255 255 / 40%) inset;
    padding: 0 14px;
    margin: 0;
    z-index: 10;
}