.container2 {
    height: 600px;
    background-color: #131a32;
    width: 100%;
    color: #dddddd;
}

.link {
    color: #dddddd;
    cursor: pointer;
    font-size: 11px;
    text-align: left;
    width: 140px;
}

.link:hover {
    color: #dddddd;
    text-decoration: underline;
}

.row {
    padding: 8px 0px;
}

.lastRow {
    display: flex;
    justify-self: center;
}

.table {
    padding: 30px 0px;
    display: flex;
    justify-content: center;
}