.container1 {
    height: 610px;
    background-color: #232F3E;
    width: 100%;
    color: #fff;
    padding: 0px;
}

.topBtn {
    width: 100%;
    background-color: #37475A;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.topBtn:hover {
    cursor: pointer;
    background-color: #485769;
}

.allLinks {
    font-size: 14px;
    color: #DDD;
    display: flex;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
    height: 480px;
}

.link {
    color: #DDD;
    font-size: 14px;
    display: list-item;
    list-style-type: none;
    margin-bottom: 10px;
    margin-left: 0px;
    cursor: pointer;
    width: auto;
}

.link:hover {
    color: #DDD;
    text-decoration: underline;
}

.setOfLinks {
    padding: 10px;
    justify-content: left;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.links1 {
    padding: 0px;
    width: 121px;
}

.links2 {
    padding: 0px;
    width: 165px;
}

.links3 {
    padding: 0px;
    width: 207px;
}

.links4 {
    padding: 0px;
    width: 130px;
   
}

.title {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 5px;
}

.bottom {
    border-top: 1px solid #3a4553;
    height: 80px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.img {
    background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/gc/designs/livepreview/amazon_dkblue_noto_email_v2016_us-main._CB468775337_.png);
    width: 76px;
    height: 23px;
    color: #DDD;
    padding: .6em;
    display: flex;
    border: 1px solid white;
    margin-top: 18px;
}

.language {
    border: 1px solid #848688;
    border-radius: 3px;
    padding: 6px, 18px, 6px, 8px;
    font-size: 13px;
    margin-right: 4px;
    width: 88px;
    height: 20px;
    text-align: center;
    color: #ccc;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.language:hover {
    color: #ccc;
}

.country {
    border: 1px solid #848688;
    border-radius: 3px;
    font-size: 13px;
    text-align: center;
    color: #ccc;
    cursor: pointer;
}

.country:hover {
    color: #ccc;
}

.cont {
    margin-top: 18px;
    margin-left: 70px;
    display: flex;
    flex-direction: row;
}

.globe {
    width: 15px;
    height: 15px;
    border: 1px solid white;
}

.lan {
    padding: 0 0.6em;
    line-height: 18px;
}

.arrows {
    width: 12px;
    height: 12px;
    border: 1px solid white;
}