html,
body {
  padding: 0;
  margin: 0;
  font-family: "Amazon Ember", Arial, sans-serif;
  
}

a {
  color: #007185 !important;
  text-decoration: none !important;
}

a:hover{
  color: #c45500;
  cursor: pointer;
}
* {
  box-sizing: border-box;
}

.modal-content {
  max-width: 79% !important;
 margin-left: 25%;
}

.input-group {
  position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center !important;
    width: 100%;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
