.price {
  font-size: 14px;
  line-height: 20px;
  font-family: "Amazon Ember", Arial, sans-serif;
  padding-left: 25px;
  padding-right: 6.5%;
  padding-top: 20px;
}

.title {
  font-size: 14px;
  line-height: 20px;
  font-family: "Amazon Ember", Arial, sans-serif;
  padding-left: 25px;
  padding-right: 6.5%;
}

.options {
  font-size: 14px;
  line-height: 20px;
  font-family: "Amazon Ember", Arial, sans-serif;
  padding-left: 25px;
  padding-right: 6.5%;
  padding-top: 5px;
}

.details {
  font-size: 14px;
  line-height: 20px;
  font-family: "Amazon Ember", Arial, sans-serif;
  padding-left: 25px;
  padding-right: 6.5%;
}

.brand,
.prime,
.learn,
.free,
.numRatings {
  color: #007185;
}

.merchpic {
  height: 20px;
}

.productTitle {
  font-size: 24px;
  line-height: 32px;
  color: #565959;
  font-weight: 400;
}

.ratings {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #e7e7e7;
}

.stars {
  height: 18px;
  width: 80px;
}

.starsPic {
  background-image: url(https://m.media-amazon.com/images/S/sash/ZNt8quAxIfEMMky.png);
  background-position: -2px -42px;
  height: 18px;
  width: 80px;
}

.numRatings {
  padding-left: 15px;
}

.symbol {
  font-size: 13px;
  vertical-align: top;
  line-height: 9.5px;
}

.dollars {
  font-size: 28px;
}

.cents {
  font-size: 13px;
  vertical-align: top;
  line-height: 9.5px;
}

.learn {
  vertical-align: top;
  line-height: 17.5px;
  padding-left: 3px;
}

.type,
.colorLabel,
.sizeLabel {
  color: #555;
  padding-left: 2px;
  padding-bottom: 2px;
  font-weight: 400;
}

.genderSelect {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 0px;
  margin-top: 2px;
}

.genderBtn {
  border: 1px solid #e0e0e0;
  background-color: transparent;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 6px;
  font-size: 13px;
  height: 30px;
}

.colorOptions {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-top: 4px;
  padding-left: 0px;
  flex-wrap: wrap;
}

.optionIMG {
  height: 50px;
  width: 38px;
  object-fit: fill;
}

.optionBtn {
  padding: 0;
  background-color: transparent;
  margin-left: 6px;
  border: 1px solid #e0e0e0;
  cursor: pointer;
}
.optionBtn.active {
  border-color: #e77600;
}
.optionBtn:hover {
  border-color: #bebebe;
}

.sizeDropDown {
  font-size: 13px;
  line-height: 29px;
  border-radius: 7px;
  background: #f0f2f2;
  height: 29px;
  text-align: center;
}

.dropdownContainer {
  padding-left: 6px;
}

.fabric,
.care,
.origin,
.closure {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}

.closure {
  border-bottom: 1px solid #e7e7e7;
}

.h2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  padding-bottom: 14px;
  padding-top: 4px;
  margin-bottom: 0px;
}

.h3 {
  color: #0f1111;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  width: 160px;
  vertical-align: top;
  margin: 0px;
}

.data,
.aboutdata,
.descriptiondata {
  color: #565959;
}

.data {
  line-height: 16px;
  font-size: 14px;
}

.aboutdata {
  padding-bottom: 20px;
}

.aboutBullets {
  margin: 0px;
  padding-left: 22px;
  border-bottom: 1px solid #e7e7e7;
}

.descriptiondata {
  margin: 0px;
}
