.price {
  font-size: 14px;
  line-height: 20px;
  font-family: "Amazon Ember", Arial, sans-serif;
  padding-left: 25px;
  padding-right: 6.5%;
  padding-top: 20px;
}

.title {
  font-size: 14px;
  line-height: 20px;
  font-family: "Amazon Ember", Arial, sans-serif;
  padding-left: 25px;
  padding-right: 6.5%;
}

.options {
  font-size: 14px;
  line-height: 20px;
  font-family: "Amazon Ember", Arial, sans-serif;
  padding-left: 25px;
  padding-right: 6.5%;
  padding-top: 5px;
}

.details {
  font-size: 14px;
  line-height: 20px;
  font-family: "Amazon Ember", Arial, sans-serif;
  padding-left: 25px;
  padding-right: 6.5%;
}

.brand,
.prime,
.learn,
.free,
.numRatings {
  color: #007185;
  cursor: pointer;
}

.numRatings:hover {
  color: #e77600;
  text-decoration: underline;
}

.merchpic {
  height: 20px;
}

.productTitle {
  font-size: 24px;
  line-height: 32px;
  color: #565959;
  font-weight: 400;
}

.ratings {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #e7e7e7;
}

.stars {
  height: 18px;
  width: 80px;
  position: relative;
}

.starsPic {
  background-image: url(https://m.media-amazon.com/images/S/sash/ZNt8quAxIfEMMky.png);
  background-position: -2px -42px;
  height: 18px;
  width: 80px;
}

.numRatings {
  padding-left: 15px;
}

.symbol {
  font-size: 13px;
  vertical-align: top;
  line-height: 9.5px;
}

.dollars {
  font-size: 28px;
}

.cents {
  font-size: 13px;
  vertical-align: top;
  line-height: 9.5px;
}

.learn {
  vertical-align: top;
  line-height: 17.5px;
  padding-left: 3px;
}

.type,
.colorLabel,
.sizeLabel {
  color: #555;
  padding-left: 2px;
  padding-bottom: 2px;
  font-weight: 400;
}

.genderSelect {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 0px;
  margin-top: 2px;
}

.genderBtn {
  border: 1px solid #e0e0e0;
  background-color: transparent;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 6px;
  font-size: 13px;
  height: 30px;
}

.colorOptions {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-top: 4px;
  padding-left: 0px;
  flex-wrap: wrap;
}

.optionIMG {
  height: 50px;
  width: 38px;
  object-fit: fill;
}

.optionBtn {
  padding: 0;
  background-color: transparent;
  margin-left: 6px;
  border: 1px solid #e0e0e0;
  cursor: pointer;
}
.optionBtn.active {
  border-color: #e77600;
}
.optionBtn:hover {
  border-color: #bebebe;
}

.sizeDropDown {
  font-size: 13px;
  line-height: 29px;
  border-radius: 7px;
  background: #f0f2f2;
  height: 29px;
  text-align: center;
}

.dropdownContainer {
  padding-left: 6px;
}

.fabric,
.care,
.origin,
.closure {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}

.closure {
  border-bottom: 1px solid #e7e7e7;
}

.h2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  padding-bottom: 14px;
  padding-top: 4px;
  margin-bottom: 0px;
}

.h3 {
  color: #0f1111;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  width: 160px;
  vertical-align: top;
  margin: 0px;
}

.data,
.aboutdata,
.descriptiondata {
  color: #565959;
}

.data {
  line-height: 16px;
  font-size: 14px;
}

.aboutdata {
  padding-bottom: 20px;
}

.aboutBullets {
  margin: 0px;
  padding-left: 22px;
  border-bottom: 1px solid #e7e7e7;
}

.descriptiondata {
  margin: 0px;
}

.ratingsnap {
  width: fit-content;
}

.popupDiv {
  z-index: 4;
  background-color: white;
  width: 280px;
  height: 340px;
  padding: 10px;
  border: 1px solid black;
}

.popupDiv:after {
  content: "";
  margin-top: -10px;
  margin-left: -10px;
  width: 0px;
  height: 0px;
  border: 10px solid transparent;
  border-bottom: 10px solid rgba(0, 0, 0, 1);                
  position: absolute;
  top: 0.7%;
  left: 50%;
  z-index: 4;
}
.popupDiv:before {
  content: "";
  margin-top: -9px;
  margin-left: -9px;
  width: 0px;
  height: 0px;
  border: 9px solid transparent;
  border-bottom: 9px solid white;                
  position: absolute;
  top: 0.8%;
  left: 50%;
  z-index: 5;
}

.reviews {
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  padding-top: 20px;
}

.grab {
  width: 300px;
  height: 360px;
  position: absolute;
  top: 94%;
  left: -130%;
  z-index: 1;
  padding: 10px;
}