

.customer {
    font-weight: bold;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 24px;
    color: #0F1111!important;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    padding-bottom: 4px;
    text-rendering: optimizeLegibility;
}

.search {
    margin-top: 12px!important;
    margin-bottom: 8px!important;
    max-width: 800px;
    margin-right: 0;
    padding-right: 25px;
    word-wrap: break-word;
}

.searchBox {
    background-color: #fff;
    height: 31px;
    padding: 3px 7px;
    line-height: normal;
    padding-left: 29px;
    padding-right: 25px;
    width: 100%;
    margin-right: 0;
    border: 1px solid #888C8C;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgb(15 17 17 / 15%) inset;
    outline: 0;
    background-image: url(https://m.media-amazon.com/images/S/sash/McBZv0ZvnbehkIx.png);
    -webkit-background-size: 400px 900px;
    background-size: 400px 900px;
    background-repeat: no-repeat;
}

.questionExamples {
    padding: 0 0 40px 60px;
}

.typicalQuestion {
    color: #333;
    line-height: 19px;
    font-size: 13px;
    display: block;
}

.exampleQuestions {
    color: #666;
    padding-top: 5px;
    font-size: 14px;
}